/* @font-face {
    font-family: SpongeFont;
    src: url(./SpongeboyRegular-gx2n6.otf);
} */

body, #container {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #aa8d0a;
    background: url(./krusty-krab.webp);
    background-repeat: no-repeat; 
    /* font-family: SpongeFont; */

}



.header, .footer {
    color: white;
    background-color: #aa8d0a;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
    margin: 0;


}

.header img {
    height: auto;
    width: 4rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.header button {
    background-color:#aa8d0a;
    border: none;
    text-decoration: none;
    color: #fff;
}

.header button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.main-content {
    display: flex;
    /* background: url(./krusty-krab.webp); */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    color: #fff;
    height: 200px;
    width: auto;
}

.main-content img {
   
}

.footer {

    justify-content: center;
}

